[submodule "map-viewer"]
	path = map-viewer
	url = git@github.com:dgrosch02/map-viewer.git
[submodule "test-silverserver"]
	path = test-silverserver
	url = git@github.com:dgrosch02/test-silverserver.git
